@{
    ViewData["Title"] = "Home Page";
}
<style>
    .page-title{
        color: red;
    }
</style>
<div class="text-center">
    <h1 class="display-4" id="page-title">Web Chat</h1>

    <hr/>
    <div class="chat-space">
        
        <div>
            <label>Your Name</label>
            <input type="text" id="name" placeholder="Input your name here"/>
        </div>

        <div>
            <input type="text" id="message-box"/>
            <input type="button" id="send-button" value="Send"/>
        </div>

        <div>
            <ul id="discussion-list"></ul>
        </div>
    </div>
    <p></p>
</div>

<script>

</script>