@{
    ViewData["Title"] = "Home Page";
}
<div class="text-center">
    <h1 class="display-4" id="page-title">Web Chat</h1>

    <hr/>
    <div class="chat-space">
        
        <div>
            <label>Your Name</label>
            <input type="text" placeholder="Input your name here"/>
        </div>

        <div>
            <input type="text" />
            <input type="button" value="Send"/>
        </div>

    </div>
    <p></p>
</div>